
@import "ember-bootstrap/bootstrap";

.pointer {
  cursor: pointer;
}

.bar-graph {
  overflow: visible;
  padding-bottom: 100px;
  .country-text {
    overflow: visible;
  }
  .bar-graph__tooltip {
    overflow: visible;
    fill: black;
    background-color: black;
    text: white
  }
}