
@import "ember-bootstrap/bootstrap";

.pointer {
  cursor: pointer;
}

.bar-graph {
  overflow: visible;
  padding-bottom: 100px;
  .country-text {
    overflow: visible;
  }
  .bar-graph__tooltip {
    overflow: visible;
    fill: black;
    background-color: black;
    text: white
  }
}

.timeline-graph {
  .line {
    fill: none;
    stroke: #ffab00;
    stroke-width: 3;
  }
  
  .overlay {
    fill: none;
    pointer-events: all;
  }

  /* Style the dots by assigning a fill and stroke */
  .dot {
      fill: #ffab00;
      stroke: #fff;
  }
    
    .focus circle {
    fill: none;
    stroke: steelblue;
  }
}