<BsButton @onClick={{action "reset"}}>reset</BsButton>  
<table class="table table-hover">
  {{yield (hash
    th=(component "sortable-table/header-cell" onClick=(action "sort") sortDirection=sortDirection activeSortBy=activeSortBy)
    sortedData=sortedData
  )}}
  </table>