<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Country</th>
        <th scope="col">Confirmed</th>
        <th scope="col">Deaths</th>
        <th scope="col">Recovered</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as | countries |}}
        {{#each-in countries as | name data| }}
          <tr>
            <th scope="row">{{name}}</th>
            <td>{{data.confirmed}}</td>
            <td>{{data.deaths}}</td>
            <td>{{data.recovered}}</td>
          </tr>
        {{/each-in}}
      {{/each}}
    </tbody>
  </table>
</div>
